<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
				<li><a href="/blog/">Posts</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:seattle-ai-saturdays@gmail.com">email</a></li>
	        		<li><a href="https://github.com/seattle-ai6">github.com/seattle-ai6</a></li>
				</ul>
			Site created following Johnathon McGlone's <a href="http://jmcglone.com/guides/github-pages/" target=_blank>Hank Quinlan tutorial</a>
			</footer>
		</body>
	</html>
